.title {
  background: rgb(121, 242, 157);
}

body {
  color: white;
  background-color: black;
  background-image: url('../bg/bg_loading.png');
  cursor: url('../svg/cursor-pointer.svg'), pointer;
  cursor: url('../svg/cursor-default.svg'), default;
}
