html {
  font-size: 43.8px;
}

body {
  color: white;
  background-color: black;
  background-image: url('../public/bg/bg_loading.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-width: 1024px;
  //cursor: url('../public/svg/cursor-pointer.svg'), pointer;
  cursor: url('../public/svg/cursor-default.svg'), default;
}
