@fontsDir: '/public/fonts/';

@font-face {
  font-family: 'Geometos';
  src: url('@{fontsDir}Geometos/Geometos.eot');
  src: url('@{fontsDir}Geometos/Geometos.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}Geometos/Geometos.woff') format('woff'),
    url('@{fontsDir}Geometos/Geometos.ttf') format('truetype'),
    url('@{fontsDir}Geometos/Geometos.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: url('@{fontsDir}Bender/Bender.eot');
  src: url('@{fontsDir}Bender/Bender.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}Bender/Bender.woff') format('woff'),
    url('@{fontsDir}Bender/Bender.ttf') format('truetype'),
    url('@{fontsDir}Bender/Bender.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentoSansWide-Normal';
  src: url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-Normal.eot');
  src: url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-Normal.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-Normal.woff')
      format('woff'),
    url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-Normal.ttf')
      format('truetype'),
    url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-Normal.svg')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentoSansWide-UltraLight';
  src: url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-UltraLight.eot');
  src: url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-UltraLight.woff')
      format('woff'),
    url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-UltraLight.ttf')
      format('truetype'),
    url('@{fontsDir}NovecentoSansWide/NovecentoSansWide-UltraLight.svg')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSerifCN-Heavy';
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Heavy.eot');
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Heavy.woff') format('woff'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Heavy.ttf')
      format('truetype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Heavy.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSerifCN-Regular';
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Regular.eot');
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Regular.woff')
      format('woff'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Regular.ttf')
      format('truetype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSerifCN-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Regular.eot');
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Regular.woff')
      format('woff'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Regular.ttf')
      format('truetype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Medium.eot');
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Medium.woff') format('woff'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Medium.ttf')
      format('truetype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Medium.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Bold.eot');
  src: url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Bold.woff') format('woff'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Bold.ttf')
      format('truetype'),
    url('@{fontsDir}SourceHanSansCN/SourceHanSansCN-Bold.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
